@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="background-color:#EDBB82; height:500px; width:300px; border-radius:50px; display: inline-block;"></div>
<div style="background-color:#5E3931; height:500px; width:300px; border-radius:50px; display: inline-block;"></div>
<div style="background-color:#2C5530; height:500px; width:300px; border-radius:50px; display: inline-block;"></div>
<div style="background-color:#82B877; height:500px; width:300px; border-radius:50px; display: inline-block;"></div>